<div class="col-lg-4">
   <!--  <h4>Search</h4>
    <div class="hline"></div>
        <p>
            <br/>
            <input type="text" class="form-control" placeholder="Search something">
        </p>
    <div class="spacing"></div> -->
    <h4>Subscribe</h4>
    <div class="hline"></div>

          <!-- Begin MailChimp Signup Form -->
<div align="center">
<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://techlab.us6.list-manage.com/subscribe/post?u=7200378b33e9cbe6682056fa7&amp;id=0856be81d4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <div id="mc_embed_signup_scroll">
<p for="mce-EMAIL">Lascia la tua mail per tutti i nostri aggiornamenti!</p>
<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7200378b33e9cbe6682056fa7_0856be81d4" tabindex="-1" value=""></div>
  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
  </div>
</form>
</div>
</div>

<!--End mc_embed_signup-->

    <div class="spacing"></div>

    <h4>Prossima Riunione</h4>
    <div class="hline"></div>
        <p>
            <p class="rss-subscribe">Giovedì 11 gennaio 2018 <br> h21.00-22.00</p>
        </p>
    <div class="spacing"></div>
    <!-- <h4>Categories</h4>
    <div class="hline"></div>
    {% for category in site.categories %}
        <p>
            <a href="{{ '/category/#'  | prepend: site.baseurl  }}{{ category | first }}"><i class="fa fa-angle-right"></i> {{ category | first | capitalize }}</a>
            <span class="badge badge-theme pull-right">{{ category | last | size }}</span>
        </p>
    {% endfor %}

    <div class="spacing"></div>

    <h4>Recent Posts</h4>
    <div class="hline"></div>
        <ul class="popular-posts">
            {% for post in site.posts limit:4 %}
                <li>
                    <a href="{{ post.url  | prepend: site.baseurl }}"><img src="{{ "/assets/img/blog/thumbs/" | prepend: site.baseurl }}{{ post.thumb }}" alt="Popular Post"></a>
                    <p><a href="{{ post.url }}">{{ post.title }}</a></p>
                <em>Posted on {{ post.date | date_to_string }}</em>
            </li>
            {% endfor %}
        </ul>

    <div class="spacing"></div>

    <h4>Popular Tags</h4>
    <div class="hline"></div>
    <p>
    {% for category in site.categories %}
            <a class="btn btn-theme" href="{{ '/category/#'  | prepend: site.baseurl  }}{{ category | first }}" role="button">{{ category | first | capitalize }} ({{ category | last | size }})</a>
        {% endfor %}
    </p>!-->
</div>
