    <div id="slider">
      <a href="https://www.facebook.com/events/264214017545484/?notif_t=event_description_mention&notif_id=1536011385959675" target="_blank"><img src="/bower_components/ideal-image-slider/example/img/8.jpg" alt="alt text 1">
      <a href="/assets/infografica_small.pdf" target="_blank"><img src="/bower_components/ideal-image-slider/example/img/7.jpg" alt="alt text 1">
      <a href="http://bit.ly/tourquarini" target="_blank"><img src="/bower_components/ideal-image-slider/example/img/6.jpg" alt="alt text 1">
      <a href="http://fatto.techlab.tl/techlab-timeline/" target="_blank"><img src="/bower_components/ideal-image-slider/example/img/4.jpg" alt="alt text 1">
      <a href="https://issuu.com/asociazione.techlab/docs/documento" target="_blank"><img src="/bower_components/ideal-image-slider/example/img/1.jpg" alt="alt text 1"></a>
    </div>

    <script src="/bower_components/ideal-image-slider/ideal-image-slider.js"></script>
    <script src="/bower_components/ideal-image-slider/extensions/bullet-nav/iis-bullet-nav.js"></script>


<script>
var slider = new IdealImageSlider.Slider({
  selector: '#slider',
  height: '16:9'
});
slider.addBulletNav();
slider.start();
</script>
