    <div id="slider">
      <a href="https://issuu.com/asociazione.techlab/docs/documento" target="_blank"><img src="/bower_components/ideal-image-slider/example/img/1.jpg" alt="alt text 1"></a>
      <img src="/bower_components/ideal-image-slider/example/img/2.jpg" alt="alt text 2">
      <img src="/bower_components/ideal-image-slider/example/img/3.jpg" alt="alt text 3">
    </div>

    <script src="/bower_components/ideal-image-slider/ideal-image-slider.js"></script>
    <script src="/bower_components/ideal-image-slider/extensions/bullet-nav/iis-bullet-nav.js"></script>


<script>
var slider = new IdealImageSlider.Slider({
  selector: '#slider',
  height: '16:9'
});
slider.addBulletNav();
slider.start();
</script>
