<a href="http://montilab.techlab.tl"><div id="twrap">
    <div id="twrapback"></div>
      <div class="container centered">
        <div class="row">
          <br><br>
            <div class="col-lg-8 col-lg-offset-2">
              <p>Dai un'occhiata a:</p>
          <img src="{{ "assets/img/logo-text-black.png"}}">
            <br><br>
            <p>È un laboratorio pomeridiano di progettazione partecipata e autocostruzione.
Giunto alla sua quarta edizione, è stato concepito da TechLab insieme al Liceo Monti,
proprio per permettere agli studenti di progettare e generare: arredo, servizi e comunicazione per il proprio Liceo :)</p>
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div></a><! --/twrap -->
